/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/.htaccess
.idea/*
/node_modules
/web/js/app.js
/web/css/app.css
/web/css/frontpage/all.css
/web/media/*
/tests/coverage/*
/tests/reports/
/.data/
/logs/
.env
/web/css/fonts/
.DS_Store
